<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.example.productsStore.di.ProductsApp"

        android:allowBackup="true"
        android:icon="@drawable/outline_book_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProductsStore">

        <activity
            android:name="com.example.productsStore.presentation.ui.MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BroadcastReceiver для отправки напоминаний купить продукт -->
        <receiver
            android:name="com.example.productsStore.reminder.PurchaseReminderReceiver"
            android:exported="false" >
        </receiver>

        <!-- BroadcastReceiver для отправки напоминаний купить продукт после перезагрузки устройства -->
        <receiver
            android:name="com.example.productsStore.reminder.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>